[2016-11-19 19:11] Aniq55 opened #1 "Add scoring system"

[2016-11-19 19:13] Aniq55 opened #2 "Let the players select difficulty level"
Difficulty level is directly proportional to the velocity of the puck.

Slow puck : Easy
Fast puck: Difficult

[2016-11-19 19:14] Aniq55 opened #3 "Don't let the paddles cross the middle-line and go to the other side"

[2016-11-27 11:24] Aniq55 opened #4 "Make the puck circular"
Currently, the puck is a small square, make it a circle.

[2016-12-27 16:21] Aniq55 commented on #3
Solved

[2016-12-27 16:21] #3 closed, assigned to nobody

[2016-12-27 16:46] #4 closed, assigned to nobody

[2016-12-27 17:39] Aniq55 opened #5 "Create a Start Game Screen"
Create a start game page, which says "Press Enter to start game" and then start game.

[2017-01-21 07:09] Aniq55 opened #6 "Let the players choose their paddle colors"

[2017-01-21 07:13] Aniq55 opened #7 "Enhance the README"

[2017-01-21 07:14] Aniq55 opened #8 "Create a logo for the game"

[2017-01-21 07:17] Aniq55 opened #9 "Make each game of three rounds"
Make each game of three rounds and declare the winner at the end of the game

[2017-01-21 07:28] Aniq55 opened #10 "Play sound each time a paddle strikes the puck"

[2017-01-21 07:35] Aniq55 opened #11 "Add a background music track which plays on loop"

[2017-01-21 07:41] Aniq55 opened #12 "Add friction to the puck"
Frictional Force = -B.v , where B is the friction coefficient and v is the velocity vector
Assume suitable mass (m) of the puck and apply deceleration in the direction opposite to velocity vector:
deceleration = -B.v/m

[2017-01-21 14:53] abh3po opened #13 "Make paddles a circle instead of a bar"
Like the actual air hockey

[2017-01-21 14:56] abh3po opened #14 "Create Different Classes for different in game objects"
Like a paddle class for paddles so they are more visible better manageable and make the overall code more readable

[2017-01-21 14:57] abh3po opened #15 "Make the game internet multiplayer"

[2017-01-21 15:20] Aniq55 commented on #13
when two circle collide head-on, they would be reflected along the same line of action. That would make the game less chaotic

[2017-01-21 15:34] abh3po commented on #13
Imagine both moving in different directions? Also it's more true to the
real game if it's a circle isn't it?

On 21-Jan-2017 8:50 PM, "Aniq Ur Rahman" <notifications@github.com> wrote:

[2017-01-21 15:38] Aniq55 commented on #13
Okay. Then we will also need to add goals, to make the game more realistic.

[2017-01-21 15:40] Aniq55 opened #16 "Make the puck and paddle circles of almost same size."
Increase the radius of the puck
Use concentric circles for the paddle

[2017-01-21 15:42] Aniq55 opened #17 "Change the table color"
#f7eda5  = rgb(247, 237, 165)

[2017-01-21 15:46] Aniq55 opened #18 "Add goals on either end and add Scoring system"
The goal width should be appropriate
Also, design and display the scoring system.
Refer to [Air Hockey Wiki](https://en.wikipedia.org/wiki/Air_hockey)

[2017-01-22 05:40] Aniq55 commented on #18
The puck should disappear into the goal

[2017-01-22 12:35] Aniq55 opened #19 "Create an online ranking database based on score"
Works with #15
[code]

[2017-01-25 18:39] Aniq55 opened #21 "Bot vs Human match"
Develop AI for Bot vs Human match. The Bot should be nearly impossible.
Better to use a variable ```reflex delay``` and ```speed``` the values of which will change the difficulty level of the match. High reflex delay and Low speed : Easy and Low reflex delay and High speed: Difficult

[2017-02-13 17:54] ananyo2012 opened #22 "Error while starting game"
I am getting this error while starting the game
[code]
Refers to [line 101](https://github.com/Aniq55/AirHockey/blob/master/Air_hockey.py#L101). You should probably typecast it to an integer.

[2017-02-13 17:57] Aniq55 commented on #22
okay @ananyo2012

[2017-02-13 17:59] ananyo2012 commented on #22
Yup it gets solved by the typecast.

[2017-02-16 19:19] #22 closed, assigned to nobody

[2017-09-06 12:31] abh3po opened #24 "Add Screenshots to readme"

[2017-10-17 07:04] Aniq55 commented on #8
All the designs are pushed to [Graphics](https://github.com/NIT-dgp/Graphics) repository for review

[2017-10-19 17:22] #14 closed, assigned to nobody

[2017-11-21 12:00] falconis commented on #24
I would like to wok on this.

[2017-11-21 15:00] nityanandagohain commented on #24
I have submitted a pull request #28

[2017-11-22 10:07] #24 closed, assigned to nobody

[2017-11-22 10:09] Aniq55 commented on #17
Assigned to @nityanandagohain

[2017-11-22 10:09] Aniq55 commented on #16
Assigned to @nityanandagohain

[2017-11-22 10:10] Aniq55 commented on #5
Assigned to @nityanandagohain

[2017-11-22 10:10] Aniq55 commented on #12
Assigned to @Lasers67

[2017-11-22 10:11] Aniq55 commented on #6
Assigned to @nityanandagohain

[2017-11-22 12:21] soumam007 commented on #21
what is the domain of AI are you planning to import in this game? I think neural network using a RELU layer activation is of a good choice . Though i havent yet practically worked on deep nets, but its my school of thought @Aniq55

[2017-11-22 12:40] psushi opened #29 "Correct impact between puck and red bar"
The impact between the puck and red bar is not perfect, it looks as if the puck is not touching , rather passing through the red bar.

[2017-11-22 12:42] psushi commented on #29
This is my first time, i would like to work on this, if its beginner friendly. :)

[2017-11-22 13:16] Aniq55 commented on #13
Issue #16 already takes care of this

[2017-11-22 13:16] #13 closed, assigned to nobody

[2017-11-22 13:27] Aniq55 commented on #21
I'm planning to simply try to intersect the path of the puck by the paddle within the constraints of paddle speed. Since the motion is linear, I'll be solving linear equations, to predict the position of the puck based on its speed/acceleration within a small segment of its trajectory. And also take care of the reflection from the sides. I hope this explains the stuff I'm thinking. @soumam007

[2017-11-22 13:30] Aniq55 commented on #29
Assigned to @SusheendharVijay
PS. Solve this issue before #16 is solved, otherwise this issue will become useless.

[2017-11-22 13:42] Aniq55 commented on #5
@nityanandagohain do #6 and #5 together. Let the players choose their paddle colors on the start screen.

[2017-11-22 13:45] Aniq55 commented on #1
The scoring system is there, but ill-defined. It just needs to be displayed on the screen.
@falconis shall I assign this to you?

[2017-11-22 14:16] soumam007 commented on #18
I will like to work on this as well as on the scoring system. I went through the program code and i got the basic understanding of pygame, but i will be able to work on this after 30th ,is that ok?

[2017-11-22 14:44] nityanandagohain commented on #5
Ok  @Aniq55 .

[2017-11-22 15:34] vineetjc commented on #18
I wish to work on this. It would be great if I am assigned to solving this issue.

[2017-11-22 15:35] vineetjc commented on #11
I wish to work on this. It would be great if I am assigned to solving this issue.

[2017-11-22 15:36] vineetjc commented on #10
I wish to work on this. It would be great if I am assigned to solving this issue.

[2017-11-22 15:36] vineetjc commented on #9
I wish to work on this. It would be great if I am assigned to solving this issue.

[2017-11-22 15:41] vineetjc commented on #7
What are the specifications of this? Any particular way to go by what you meant as 'enhancing'?

[2017-11-22 15:44] vineetjc commented on #2
Is this about creating an interface to choose the difficulty? And if there isn't a bot vs player mode yet, what does the difficulty indicate for the two players? I could work on this.

[2017-11-22 15:44] vineetjc commented on #1
If not assigned yet, if you'd like, I would like to work on this.

[2017-11-22 16:00] pani-vishal commented on #1
Sure I would happily work on it! @Aniq55

[2017-11-22 16:40] arpitmisraw commented on #11
I would also like to work on this.

[2017-11-22 17:21] nebula001 commented on #11
I would like to work on this .

[2017-11-22 17:24] nebula001 commented on #15
I would like to work on this .

[2017-11-22 17:27] nebula001 commented on #10
I would like to work on this

[2017-11-23 09:33] Lasers67 commented on #9
I would also be privileged to work on this as well as displaying score on the screen as well as displaying a timer which would indicate the end of the round or maybe some x number of goals

[2017-11-23 09:35] Lasers67 commented on #21
I would wish to start working on this feature.

[2017-11-23 09:39] Lasers67 commented on #19
I would like to work on this feature, Here is how i plan to do this, each time there is a new user(we would want a id or username or the player) and its id would be searched in the database and python can display is/her rank using mysql library in python also this database's details can be uploaded on a website to make it online.

[2017-11-23 09:56] Lasers67 opened #30 "Impact issues when puck and paddle, both are moving"
It seems that often puck passes the paddle when both are moving in x direction, also as per law of physics in this scenario the impact must not just reverse the velocity of the puck but also add a component of paddleVelocity to it

[2017-11-23 12:40] psushi commented on #10
I would like to work on this too +1

[2017-11-23 14:28] Lasers67 commented on #15
I would like to contribute on this aswell , could we use Flask for this?

[2017-11-24 08:51] Aniq55 commented on #30
Assigned to @Lasers67

[2017-11-24 08:52] Aniq55 commented on #18
Assigned to @soumam007
Waitlist: @vineetjc
Please try to do this by the first week of December.

[2017-11-24 08:59] Aniq55 commented on #15
Assigned to @nebula001 and @Lasers67

[2017-11-24 09:00] Aniq55 commented on #15
@Lasers67 Flask seems good, but you guys decide what you'll be using finally. I'd suggest Django though.

[2017-11-24 09:05] Aniq55 commented on #11
Assigned to @thealphadollar

[2017-11-24 09:07] Aniq55 commented on #10
Assigned to @SusheendharVijay

[2017-11-24 09:10] Aniq55 commented on #9
Assigned to @Lasers67
Do this after #18 is solved.

[2017-11-24 09:11] Aniq55 commented on #1
I'm closing this issue as #18 covers this.

[2017-11-24 09:11] #1 closed, assigned to nobody

[2017-11-24 09:15] Aniq55 commented on #7
@vineetjc You can add a gif to show how the game is working.
Provide documentation to the code, explaining each object and function in detail.

This issue will not be assigned to anyone and people can send in whatever they want. It is up to me to review it.

[2017-11-24 09:16] Aniq55 commented on #2
Assigned to @arpitmisraw

Everything is mentioned in the Issue description. This difficulty setting makes the game difficult for both players. Here is no question of Bot vs Player.

[2017-11-25 14:26] nityanandagohain opened #31 "Add fullscreen support"
Add full screen support for this game to make it more immerse .

[2017-11-25 14:44] Aniq55 commented on #31
Hint: add a scaling factor, to scale all up all in-game dimensions

[2017-11-25 15:06] vineetjc commented on #31
I would like to work on this. @Aniq55 I could make this as a toggle option for the user.

[2017-11-25 15:53] suhas919 opened #32 "Introducing power-ups in the game"
Power-ups appear in the game at random timings, the player has to touch it with their paddle to activate it. Some possible features are:
* Bonus points
* Slowing the puck on their side for 5 seconds
* decreasing the size of the goal in their area
* increasing the length of the paddle

The power-ups may also appear non-randomly, based on the performance of the player. suppose, consecutive 3 goals b

[2017-11-25 16:01] Aniq55 commented on #32
Assigned to @Kitwradr

one slot remaining.

[2017-11-25 17:39] psushi commented on #32
I would like to help with this, @Kitwradr if you want to, please let me know if i can help in any way. thanks!

[2017-11-25 17:41] vineetjc commented on #32
I would like to help with this in anyway

[2017-11-25 17:41] Kitwradr commented on #32
Sure u can help as i am still a beginner

[2017-11-25 17:42] suhas919 commented on #32
Sure you guys can help as i am still a beginner

[2017-11-25 18:10] psushi commented on #32
Cool :) , so once you're done with the basic framework, can I help with the second feature, the puck getting slowed, that seems like a good power-up.

[2017-11-25 22:28] thealphadollar commented on #31
@Aniq55 I would also like to work on this.

[2017-11-25 22:29] thealphadollar commented on #8
@Aniq55 I can take this up.

[2017-11-26 11:15] Aniq55 commented on #8
Assigned to @thealphadollar

[2017-11-26 11:16] Aniq55 commented on #31
Assigned to @thealphadollar

[2017-11-27 11:33] kaushal-py commented on #15
I would like to work on this!

[2017-11-30 07:41] IAnandKumar opened #34 "Puck interacting with Paddle on the shorter side or corner"
![3](https://user-images.githubusercontent.com/25329833/33419323-bb35381e-d55e-11e7-8569-ff0a5441f26e.PNG)
![4](https://user-images.githubusercontent.com/25329833/33419324-bb96a1d0-d55e-11e7-9e9c-bc6fb731d6b2.PNG)
![5](https://user-images.githubusercontent.com/25329833/33419325-bbcdc35e-d55e-11e7-8180-5ffdeafb2cf9.PNG)
![1](https://user-images.githubusercontent.com/25329833/33419326-bc2ef8a4-d55e-

[2017-11-30 07:43] IAnandKumar commented on #34
The correct order is 4,5,1,2,3.

[2017-11-30 09:48] Aniq55 commented on #34
Assigned to @IAnandKumar

[2017-11-30 18:05] CaptainDaVinci opened #37 "Refactoring"
Hello, I was going through the code base and found few places where I think we can re-factor the code to make it more readable and reusable. I would like to work on refactoring, but this might cause problems with the ongoing projects, should I go for refactoring?

[2017-11-30 20:46] CaptainDaVinci opened #39 "Puck bounce off at an angle on colliding"
Depending of the portion of the paddle the puck collides, it should bounce off at an angle, something like this:
![pong](https://user-images.githubusercontent.com/21019116/33454021-81ad0a10-d63d-11e7-8578-80b265f65bbd.png)

[2017-12-01 04:01] nityanandagohain commented on #17
Issue solved #40

[2017-12-01 09:32] #17 closed, assigned to nobody

[2017-12-01 09:37] Aniq55 commented on #39
Assigned to @CaptainDaVinci

[2017-12-01 09:38] #34 closed, assigned to nobody

[2017-12-01 09:40] #37 closed, assigned to nobody

[2017-12-01 09:49] abh3po opened #41 "Update screenshot in readme"

[2017-12-01 12:09] abh3po commented on #15
@Lasers67 doesn't flask seem like an overkill? we can move to it when need arises, why not something simple like twisted? or even better: python sockets :P

[2017-12-01 13:17] Aniq55 commented on #41
@soumam007

[2017-12-01 15:41] Aniq55 commented on #15
@nebula001 @Lasers67 take note

[2017-12-01 16:11] thealphadollar opened #42 "Add caption for taskbar and windows"
Show "Air Hockey" when hovered over taskbar activity or window.

[2017-12-01 16:14] thealphadollar opened #43 "Make game run with click on an executable [ubuntu]"
Make an executable that'll run the game without the need to open terminal.

[2017-12-01 16:16] thealphadollar opened #44 "Make icon appear on taskbar"
Instead of a question mark, the game's logo should appear on the taskbar.

[2017-12-01 16:20] Aniq55 commented on #16
@nityanandagohain this is very important. Please do this, before moving on to other issues.

[2017-12-01 17:10] #8 closed, assigned to nobody

[2017-12-01 17:14] thealphadollar commented on #42
This has been done. Please close.

[2017-12-01 17:19] soumam007 commented on #41
done  :+1: @abhsag24 @Aniq55

[2017-12-01 19:01] nityanandagohain commented on #16
Ok @Aniq55

[2017-12-01 19:59] nityanandagohain commented on #16
@Aniq55 submitted pr #49

[2017-12-02 05:56] #16 closed, assigned to nobody

[2017-12-02 05:57] #29 closed, assigned to psushi

[2017-12-02 05:58] Aniq55 opened #50 "Collision not proper between the paddles and puck"

[2017-12-02 05:58] Aniq55 commented on #50
Assigned to @CaptainDaVinci

[2017-12-02 09:37] #50 closed, assigned to nobody

[2017-12-02 09:40] Aniq55 commented on #32
@SusheendharVijay sure. All the changes are in the `powerups` branch. You may start contributing.

[2017-12-02 12:32] CaptainDaVinci commented on #43
I have tried `pyinstaller` to package the application in one folder, but application keeps crashing and I am not sure how I can debug this, I tried logging to the console but that didn't work either.

P.S: application builds successfully

[2017-12-02 12:47] Aniq55 commented on #43
@CaptainDaVinci see this https://askubuntu.com/questions/141229/how-to-add-a-shell-script-to-launcher-as-shortcut

[2017-12-02 13:37] CaptainDaVinci commented on #43
But that would work only for Linux, right?

I managed to package the application using `pyinstaller` for Linux, using the same spec file we can package for Windows as well. Where exactly do you plan to host the bundle?

[2017-12-02 16:01] Aniq55 commented on #43
Till now no plans of hosting. Let's get version 1 ready, then we can think. Solve this for Linux and later issue will be there for windows. @CaptainDaVinci

[2017-12-02 16:56] vchrombie commented on #41
Is there anything still pending with this issue?
Can I help you with it?

[2017-12-02 17:54] Aniq55 commented on #41
@vchrombie yes. sure. Run the game and update the screenshot

[2017-12-02 18:00] vchrombie commented on #41
Okay
I will do it.

Do I need to remove the old one?

[2017-12-02 18:45] #44 closed, assigned to thealphadollar

[2017-12-02 19:06] #42 closed, assigned to thealphadollar

[2017-12-02 19:07] thealphadollar opened #54 "Bounce off walls"
The ball should bounce off all walls, even the ones which are vertical.

[2017-12-02 19:07] thealphadollar commented on #54
Please assign this to me.

[2017-12-03 05:44] CaptainDaVinci opened #56 "Puck-Paddle collision not perfect."
At slow speeds we can observe that the collisions are imperfect and unnatural.

[2017-12-03 07:26] abh3po commented on #41
@vchrombie yup

[2017-12-03 08:02] #5 closed, assigned to nobody

[2017-12-03 08:09] Aniq55 commented on #54
@thealphadollar make sure the puck doesn't bounce off when it touches the goals on either side. This collision with the goals will be later used for calculating scores.

[2017-12-03 08:19] nityanandagohain opened #57 "update screenshots"
update the screen-shots with start-screen and the game screen-shots

[2017-12-03 09:12] Aniq55 commented on #57
an issue is already open for this.

[2017-12-03 09:12] #57 closed, assigned to nobody

[2017-12-03 09:13] Aniq55 commented on #41
Include:
* start screen
* main game screen

[2017-12-03 09:54] vchrombie commented on #41
Okay
I will do that.

[2017-12-03 10:01] nityanandagohain commented on #57
oops ! sorry

[2017-12-03 10:21] Aniq55 opened #58 "Increase the puck, paddle and overall board size"

[2017-12-03 10:22] #58 closed, assigned to Aniq55

[2017-12-03 11:10] Aniq55 commented on #56
In case of collision of two circular discs (paddle and puck here), if it is head-on, then the direction of the puck will be completely reversed. Are we on the same page @CaptainDaVinci ?

[2017-12-03 13:09] CaptainDaVinci commented on #56
Yes.

[2017-12-03 13:50] Lasers67 opened #59 "Upon Reset Puck should go randomly"
When reset the Puck sets off in only a specific direction based of who loses, it should be more random

[2017-12-03 15:53] soumam007 opened #61 "Make a pause screen"
I guess I can do that @Aniq55

[2017-12-03 15:56] soumam007 commented on #54
wait i was doing that check issue #18    .Adding the scoring system had that as a sub part , sorry @thealphadollar

[2017-12-03 16:00] soumam007 commented on #56
And moreover i will like to add the fact, whenever there is a collision between the backside of the paddle with the puck then also its not changing the velocity , be the puck is moving slowly or fast.

The same is the case on hitting on the left and right side, only front headto head collision is working fine

@CaptainDaVinci
@Aniq55

[2017-12-03 16:26] soumam007 commented on #7
@vineetjc  are you still working on it ?

[2017-12-03 16:26] #18 closed, assigned to nobody

[2017-12-03 16:35] soumam007 opened #62 "Using time limit for each round"
if there will be three rounds ,use constant time limit for each round, because :--
1> global best points will remain open ended,hence can be updated with the score
2> I gotta think of more reasons

I can work on this even @Aniq55

[2017-12-03 17:18] #54 closed, assigned to thealphadollar

[2017-12-03 17:19] thealphadollar commented on #59
@Aniq55 Me on this please.

[2017-12-03 17:28] Aniq55 commented on #59
@Lasers67 shall I assign this to @thealphadollar ?

[2017-12-03 17:32] Aniq55 commented on #62
Solve with #9

[2017-12-04 06:37] Aniq55 commented on #39
The paddle is now circular, this change is not inapplicable  I feel. @CaptainDaVinci

[2017-12-04 06:45] #43 closed, assigned to thealphadollar

[2017-12-04 06:49] thealphadollar commented on #41
This issue can be closed till we have another screen to add.

[2017-12-04 08:33] psushi commented on #59
can I help with this?
and I think rather being random, it can start from the side of the player who just lost the point, what do you think?

[2017-12-04 08:42] Aniq55 commented on #59
@SusheendharVijay by random we mean the angle of launch. This issue was created by @Lasers67 so he has the right to either solve it himself or assign it to someone else.

[2017-12-04 08:54] #2 closed, assigned to nobody

[2017-12-04 08:58] Aniq55 commented on #41
Now there's a change in the start screen which can be updated

[2017-12-04 08:59] Aniq55 commented on #41
Now there's a change in the start screen, so the screenshot can be updated

[2017-12-04 09:09] pani-vishal commented on #59
Can I work on it?:-)

[2017-12-04 09:17] Aniq55 opened #67 "Error when puck enters a goal"
[code]

[2017-12-04 09:17] Aniq55 commented on #67
@arpitmisraw this happened after merging your PR. Please try to fix ths

[2017-12-04 11:57] vchrombie commented on #41
Can I do that?

I also have a new logo.
Can I send a PR for that also?

[2017-12-04 12:02] Lasers67 opened #69 "Make Collisions as a Circle colliding with Circle"
It seems as if the Puck(circle) is colliding with a rectangle hence no component of Vertical Velocity is changing please assign it to me

[2017-12-04 12:03] Lasers67 commented on #59
Yes u can assign it to @thealphadollar

[2017-12-04 12:08] Lasers67 commented on #67
Give argument vel inside that is puck.reset(vel) I have made the changes in my pull request

[2017-12-04 12:09] Aniq55 commented on #67
Alright.

[2017-12-04 12:12] Aniq55 commented on #59
Assigned to @thealphadollar

[2017-12-04 12:13] Aniq55 commented on #69
This issue is already open in #56

[2017-12-04 12:13] #69 closed, assigned to nobody

[2017-12-04 12:21] #12 closed, assigned to nobody

[2017-12-04 12:59] Aniq55 commented on #41
send the logo in the Gitter channel first. @vchrombie

[2017-12-04 13:03] #41 closed, assigned to nobody

[2017-12-04 13:15] CaptainDaVinci commented on #39
Yes, you may close this.

[2017-12-04 14:30] #56 closed, assigned to CaptainDaVinci

[2017-12-04 14:35] CaptainDaVinci commented on #67
I think this issue is now resolved.

[2017-12-04 14:47] #67 closed, assigned to nobody

[2017-12-04 15:46] vchrombie commented on #7
Can I add some badges to the README.md?

like..
[![chat on Slack](https://img.shields.io/badge/chat-Slack-blue.svg)](#)

[2017-12-04 16:10] Aniq55 commented on #7
We don't have a Slack channel. So doesn't make sense. @vchrombie

[2017-12-04 16:15] Aniq55 opened #73 "Score not displayed and size of game objects decreased"
There is some problem with the latest merge. I am not reverting it. Please code the fix to it ASAP.
* Scores not displayed
* Size of puck and paddle scaled down

[2017-12-04 16:15] Aniq55 commented on #73
Take note: @CaptainDaVinci @soumam007

[2017-12-04 16:16] vchrombie commented on #7
It can be modified.
Slack was just an example.

gitter link can also be uploaded.
[![chat on Slack](https://img.shields.io/badge/chat-Gitter-blue.svg)](#)
another one..
[![made with &hearts in Python](https://img.shields.io/badge/made%20with%20%E2%9D%A4%20in-Python-red.svg)](#)

[2017-12-04 17:32] CaptainDaVinci commented on #31
Will you be adding screen resizing option or just two sizes: normal and full screen?

[2017-12-04 17:39] CaptainDaVinci opened #77 "Using Images for background, puck and paddle."

[2017-12-04 18:01] #73 closed, assigned to nobody

[2017-12-04 18:05] CaptainDaVinci opened #78 "Fix Readme"
The Linux section under Run is invalid, also there are merge conflict comments in few headers.

[2017-12-04 18:06] Aniq55 commented on #77
images will make it slower IMO, why not use material design color to make the overall design look sharper?

[2017-12-04 18:09] Aniq55 opened #79 "Increase the paddle and puck size"

[2017-12-04 18:09] CaptainDaVinci commented on #77
Would the performance impact be drastic? Hard coding the design would be tedious.

[2017-12-04 18:14] #78 closed, assigned to nobody

[2017-12-04 18:16] thealphadollar commented on #79
On it.

[2017-12-04 18:30] #79 closed, assigned to nobody

[2017-12-04 18:31] Aniq55 commented on #77
Before woring on this, post the textures/pictures here. @CaptainDaVinci

[2017-12-04 19:21] thealphadollar commented on #31
I'm looking forward to learn adding resizing. I'll first though make the game just fullscreen.

[2017-12-04 19:24] thealphadollar opened #82 "Add function to serve the puck"
Whenever a goal happens, the player who loses should be able to decide the position of the puck and then hit it according to himself.

[2017-12-04 19:44] Lasers67 commented on #82
Can i work on this @thealphadollar ??

[2017-12-04 20:07] thealphadollar commented on #82
@Lasers67 Your call then :+1:

[2017-12-04 20:54] CaptainDaVinci commented on #77
I haven't created one, but it would be similar to this:

![bg](https://user-images.githubusercontent.com/21019116/33575636-4f91ecca-d963-11e7-9bcf-e59c1299dc9e.png)

[2017-12-05 05:50] #10 closed, assigned to nobody

[2017-12-05 05:54] #59 closed, assigned to nobody

[2017-12-05 05:58] Aniq55 opened #85 "Directory changes"
* Rename `img` to `aux` (for auxiliary) and put the `1.wav` file inside it
* Make the necessary changes in the README and python files

[2017-12-05 06:30] Lasers67 commented on #82
@Aniq55 can you give this issue assigned label?

[2017-12-05 07:49] Aniq55 commented on #82
Assigned to @Lasers67

[2017-12-05 11:16] thealphadollar commented on #77
Well, this would make it harder to resize the window keeping the quality of the images same.

[2017-12-05 11:18] thealphadollar commented on #11
@Aniq55 Please ask the assignee to post update on this, it's been 11 days.
Also, play different music in menu and different when the actual game starts.

[2017-12-05 11:27] thealphadollar opened #87 "Add sound for goal"
Play a sound each time the puck hits the goal

[2017-12-05 11:27] thealphadollar commented on #87
@Aniq55 assign me.

[2017-12-05 11:29] thealphadollar opened #88 "Create End screen for the game"
Once the game gets over, it is displayed that whichever player won, in the game screen itself.

[2017-12-05 12:25] CaptainDaVinci commented on #77
We could keep just two screen sizes and create two different sized sketches.

[2017-12-05 12:57] Aniq55 commented on #77
@thealphadollar I don't really support the Full-screen issue.

[2017-12-05 18:03] thealphadollar commented on #77
@Aniq55 I can agree to that, we've other features to implement before fullscreen. Let's keep that on list though.

[2017-12-05 18:03] thealphadollar commented on #77
@CaptainDaVinci Every screen can have different resolution and hence full screen will have different dimensions.

[2017-12-05 18:15] thealphadollar commented on #87
@Aniq55 Round sound can't be implemented since the time between resetting rounds is low and the sound file is larger and hence it cannot be played in that short time properly.

[2017-12-05 18:41] #85 closed, assigned to nobody

[2017-12-05 19:11] thealphadollar opened #90 "Make a round change pop up"
A round change screen should come after which the other round should start. This will also incorporate the sound for round change.

[2017-12-05 19:12] thealphadollar commented on #90
@Aniq55 me on this.

[2017-12-06 05:44] #87 closed, assigned to thealphadollar

[2017-12-06 06:18] thealphadollar commented on #11
Do I have the permission to work on this?

[2017-12-06 06:21] Aniq55 commented on #11
@thealphadollar reassigned to you.

[2017-12-06 06:25] Aniq55 opened #91 "Delay in sound when paddle hits puck"
There is considerable amount of delay in the sound when paddle hits the puck. The problem may be due to Pygame being inherently slow. Try finding a fix for this, if at all possible. The collision seems unnatural otherwise.

[2017-12-06 14:27] #61 closed, assigned to soumam007

[2017-12-06 15:17] #11 closed, assigned to nobody

[2017-12-06 16:27] thealphadollar commented on #9
@Aniq55 this has been taken care of I guess and should be closed.

[2017-12-06 16:42] #9 closed, assigned to nobody

[2017-12-06 16:42] CaptainDaVinci opened #96 "Incorrect score updates"
When yellow misses its score is incremented, is this intentional?

[2017-12-06 16:43] Aniq55 commented on #96
No, the scores are mismatched. @CaptainDaVinci

[2017-12-06 16:44] CaptainDaVinci opened #97 "Background music plays multiple times on round completion"

[2017-12-06 17:00] Aniq55 commented on #97
Yes, I noticed this too

[2017-12-06 17:08] thealphadollar commented on #91
Done.

[2017-12-06 17:10] thealphadollar commented on #96
I'll do this.

[2017-12-06 17:11] thealphadollar commented on #97
I'm on this too :P

[2017-12-06 17:27] CaptainDaVinci opened #99 "Pressing space bar to pause the game."

[2017-12-06 17:28] thealphadollar commented on #99
I do this?

[2017-12-06 17:51] Aniq55 commented on #99
Assigned to @thealphadollar

[2017-12-06 18:45] #91 closed, assigned to nobody

[2017-12-06 18:51] thealphadollar commented on #96
@Aniq55 Please close this issue.

[2017-12-06 19:13] CaptainDaVinci opened #102 "Make this project PEP 8 compliant."

[2017-12-08 13:00] pani-vishal commented on #102
Can I do this?

[2017-12-08 13:19] CaptainDaVinci commented on #102
Sure.

[2017-12-08 14:32] thealphadollar opened #104 "Make global class"
Make global class for global variables

[2017-12-08 15:25] #99 closed, assigned to nobody

[2017-12-08 16:32] thealphadollar commented on #96
!CLOSED

[2017-12-08 23:02] vineetjc commented on #97
Hey,
I've sent a pull request for this issue. It no longer plays multiple times after a round is completed.
Also, I realize it wasn't related to this issue, but I've added a line because of which now we can quit the game by clicking the close button, now the pygame screen will quit.

I hope it helps :)

[2017-12-09 14:20] thealphadollar commented on #104
**!CLOSED!**

[2017-12-11 05:54] #97 closed, assigned to nobody

[2017-12-11 05:58] #104 closed, assigned to nobody

[2017-12-12 10:27] #6 closed, assigned to nobody

[2017-12-12 10:44] thealphadollar opened #109 "Change folder "aux" to "assets""
The name aux is giving an error on windows system at the time of pulling.
The name can be safely changed to "assets"

[2017-12-12 11:04] thealphadollar commented on #109
This has been fixed in #110

[2017-12-12 11:42] #109 closed, assigned to nobody

[2017-12-13 07:46] thealphadollar opened #111 "Bug: If color not selected, game force closes."
If the player doesn't select a color, the game should prompt him to select one instead of force closing.

[2017-12-13 07:47] thealphadollar commented on #111
On this one.

[2017-12-13 15:44] #111 closed, assigned to nobody

[2017-12-13 16:01] #96 closed, assigned to nobody

[2017-12-13 16:01] #39 closed, assigned to CaptainDaVinci

[2017-12-13 16:01] #30 closed, assigned to Lasers67

[2017-12-13 16:22] thealphadollar opened #114 "Have a set of music files as background music."
Have a set of music files which play randomly after one finishes.

[2017-12-13 16:22] thealphadollar opened #115 "Multiple Theme choice"
From the start screen allow the player to select a theme for the base of the playing field.  Friction on the field should vary according to the theme chosen (example ice should have a low value of friction).

[2017-12-13 16:23] nityanandagohain commented on #114
so  i will be working on this

[2017-12-14 10:34] thealphadollar opened #116 "Close game by Alt+F4"
Close the game if Alt+F4

[2017-12-14 10:40] thealphadollar commented on #116
Already done since Alt+F4 is recognized as a close event on practically all systems.

[2017-12-14 10:40] #116 closed, assigned to nobody

[2017-12-14 11:19] thealphadollar opened #117 "Show round count instead of "rounds""
Show the round number, which is going on, instead of "rounds".

[2017-12-14 11:31] thealphadollar opened #118 "Update Pause Screen"
The pause screen currently shows old puck colors and the text is not anti-aliased. Both to be modified.

[2017-12-14 15:20] #7 closed, assigned to nobody

[2017-12-14 15:21] #118 closed, assigned to nobody

[2017-12-14 15:23] Aniq55 commented on #114
Why?

[2017-12-14 15:25] #117 closed, assigned to nobody

[2017-12-14 15:55] thealphadollar commented on #114
@Aniq55 By mistake I wrote songs, I meant we can have multiple tunes as background and they can be shuffled by the press of a button or when the previous sound ends; just addition of a feature.

[2017-12-14 16:33] thealphadollar opened #121 "Start screen music"
Add music to start screen.

[2017-12-14 16:34] thealphadollar commented on #121
@Aniq55  I'm on this!

[2017-12-14 16:35] thealphadollar opened #122 "Update pause screen"
Pause screen should have the option to reset the game or go to the main screen.

[2017-12-14 16:36] thealphadollar opened #123 "Update ReadMe"
Update readme with the screenshot of end screen.

[2017-12-14 16:37] thealphadollar commented on #123
Anyone willing can do.

[2017-12-14 16:37] thealphadollar opened #124 "Create an in-game help"
A screen which tells about basic rules and gameplay elements.

[2017-12-14 17:59] nityanandagohain commented on #115
I dont think start screen has enough space for multiple image choice . I think a new screen should be created after start screen.

[2017-12-15 05:07] thealphadollar commented on #115
@nityanandagohain Yup, go with a new screen with at most six choices for the theme and read the updated initial comment.

[2017-12-15 05:11] thealphadollar opened #125 "Make events happen by keyboard"
For example, at the start screen, pressing E should take one to the easy mode.

Also using A and D player can navigate through color choice and enter should set the respectively chosen colors (for both players).

[2017-12-15 10:49] #88 closed, assigned to thealphadollar

[2017-12-15 17:05] nityanandagohain commented on #122
working on it will be submitting a PR soon

[2017-12-18 09:03] #122 closed, assigned to nobody

[2017-12-18 09:04] #121 closed, assigned to nobody

[2017-12-18 09:07] Aniq55 commented on #114
There maybe copyright issues. And I hope the current tracks are free. If not please check that first. @thealphadollar

[2017-12-18 09:07] #114 closed, assigned to nobody

[2017-12-18 09:10] thealphadollar commented on #114
@Aniq55  Yes, I've verified the current music files have been taken from websites providing files under open source agreement for use in projects. No issues on that side.

[2017-12-19 06:10] ghost opened #131 "Program hangs in puck.py"
The program hangs in collidesWithPaddle function of puck.py after selecting 'Easy' or 'Hard' mode using keyboard

[2017-12-19 13:38] #123 closed, assigned to nobody

[2017-12-19 14:14] nityanandagohain opened #133 "Option to mute the background music"
there should be a button in the startscreen as well as pauseScreen to mute the music

[2017-12-19 15:36] thealphadollar commented on #133
On it!

[2017-12-19 15:44] thealphadollar opened #134 "Reset button in pause screen"
Reset button in pause screen does not work.

[2017-12-19 16:39] CaptainDaVinci opened #135 "Inconsistent naming convention"
Some of the variables are camel case while some are not.  Refer [this](https://en.wikipedia.org/wiki/Naming_convention_(programming)#Python_and_Ruby) for recommended naming convention for Python.

[2017-12-19 17:09] CaptainDaVinci opened #137 "Default paddle colors"
Instead of forcing the player to choose a color, there should be a default color for the two players.

[2017-12-19 20:34] thealphadollar opened #139 "Add image for play and pause"
Add image for play and pause in the pause screen

[2017-12-20 08:39] #133 closed, assigned to nobody

[2017-12-20 12:52] CaptainDaVinci commented on #139
I think this should be extended to puck, paddle, maybe even the arena itself ( #77 )

[2017-12-21 08:07] #115 closed, assigned to nobody

[2017-12-21 08:08] #139 closed, assigned to nobody

[2017-12-21 12:48] #137 closed, assigned to nobody

[2017-12-22 04:19] nityanandagohain commented on #19
i want to work on this. but for this i think we will also need to have screen where player's enter their name

[2017-12-22 17:09] vineetjc opened #145 "Quit button on start screen not working"
Clicking the quit button on the start screen is leading me to the theme selection screen, which shouldn't happen. There is no quit command from the quit button but rather it's returning a tuple and hence moving on to the next line, that's theme selection.

[2017-12-22 19:44] vineetjc opened #147 "screenColor not defined in GameEnd()"
![image](https://user-images.githubusercontent.com/29430221/34310620-6ace8b30-e70d-11e7-99f7-75d550cbca63.png)

[2017-12-24 15:24] thealphadollar commented on #90
Rather thank popup, reset the ball and puck to initial (ball launching at 0 angle).

[2017-12-25 09:52] #147 closed, assigned to nobody

[2017-12-25 09:57] #145 closed, assigned to nobody

[2017-12-25 14:13] #125 closed, assigned to nobody

[2017-12-25 18:20] nityanandagohain opened #155 "ALSA lib pcm.c:7963:(snd_pcm_recover) underrun occurred"
While catching the exception

run
'aconnect -x'

if still persist
open /etc/pulse/daemon.conf
change:
; default-fragments = 5
; default-fragment-size-msec = 2

[2017-12-26 04:23] nityanandagohain opened #157 "Flashy text for "airhockey" in startscreen as in game end"

[2017-12-26 05:09] nityanandagohain opened #159 "repeated code in themescreen"
Drawing the boxes can be done in a single loop.

[2017-12-26 09:20] #157 closed, assigned to nobody

[2017-12-26 09:21] #159 closed, assigned to nobody

[2017-12-26 10:20] Aniq55 opened #161 "Option to add Player Names"
In the start screen, allow users to add their names, just under the select color option.
Also, display these entered names instead of Score1 and Score2.
If a player name is not entered. simply write Player 1 and Player 2 instead of Score1 and Score2

[2017-12-26 10:53] thealphadollar commented on #161
On it!

[2017-12-26 11:21] nityanandagohain commented on #155
@Aniq55 sorry! but i am not sure what to do now since it was my system error. please tell me if i can do something.

[2017-12-26 11:33] nityanandagohain opened #162 "Select Color option box highlighted for any one player"
currently select box appears for one player only, while there should be separate highlighters for each player.

[2017-12-26 12:33] #82 closed, assigned to nobody

[2017-12-26 12:33] #31 closed, assigned to nobody

[2017-12-26 12:39] #90 closed, assigned to thealphadollar

[2017-12-26 12:57] thealphadollar opened #164 "Install Pygame through bash script"

[2017-12-26 13:21] #164 closed, assigned to thealphadollar

[2017-12-27 14:05] nityanandagohain opened #169 "Background music doesnot replay while playing the game"
The background music doe snot replay after it has played once.

reproduce  :
Start the game and play the game for more than 1min 50 sec's without completing it.

[2017-12-27 16:03] #32 closed, assigned to Kitwradr

[2017-12-28 06:41] #162 closed, assigned to nobody

[2017-12-28 06:55] Aniq55 commented on #161
@thealphadollar also update the screenshots in the README when you open a PR for this issue.

[2017-12-28 13:48] #169 closed, assigned to nityanandagohain

[2017-12-29 09:29] nityanandagohain commented on #124
on it.

[2017-12-29 15:55] #124 closed, assigned to nobody

[2017-12-29 19:00] vineetjc commented on #131
Is this still an issue? @kishore-saldanha I don't seem to be facing any such problem, but I'm not sure if I understood you right.

[2017-12-29 19:53] vineetjc commented on #131
@kishore-saldanha - Correct me if I'm wrong: I selected game difficulty using the keyboard, and according to this, I should be expecting the program to hang? I believe this isn't the case anymore. Please check this out; this might be irrelevant now so that we can close it.

[2017-12-29 20:02] vineetjc commented on #134
I believe this issue is irrelevant now. Reset button seems to be working fine. I guess it's with reference to the pending pull request on there by @CaptainDaVinci  ? I'm not aware as to why it was reopened some days back, but otherwise, we could go ahead and close this too.

[2017-12-30 05:28] ghost commented on #131
It is solved . The older version of code had the bug

On Fri, Dec 29, 2017 at 11:53 PM, Vineet Jiji Cherian <
notifications@github.com> wrote:

[2017-12-30 12:27] nityanandagohain opened #174 "Players to be notified while round change"
currently the user is not notified when a round is finished it should be notofied

[2017-12-31 04:57] nityanandagohain opened #176 "Hit and goal sounds still play after mute"
All the sounds should be muted when the mute button is clicked
 but currently the hit and goal sound still continues to play

[2017-12-31 06:54] vineetjc commented on #131
@Aniq55 We can close this issue

[2017-12-31 08:15] #174 closed, assigned to nobody

[2017-12-31 08:17] #176 closed, assigned to nobody

[2017-12-31 09:51] thealphadollar commented on #134
It is still not working, I'm doing this now.

[2017-12-31 10:11] thealphadollar commented on #62
@Aniq55 is this required?
Edit: I'll say we don't need a timer since the game is already short.

[2017-12-31 10:14] thealphadollar commented on #102
This along with #135 is being done.

[2017-12-31 11:50] thealphadollar opened #180 "Arrow and WASD key selection"
The selection by arrows keys and WASD is not working.

[2017-12-31 11:51] #134 closed, assigned to nobody

[2017-12-31 11:57] #102 closed, assigned to nobody

[2017-12-31 11:57] suhas919 commented on #180
Selection of colours by WASD and arrow keys is working

[2017-12-31 12:18] thealphadollar commented on #131
@Aniq55 close this buddy.

[2017-12-31 12:25] #135 closed, assigned to nobody

[2017-12-31 13:32] #180 closed, assigned to nobody

[2017-12-31 13:32] #62 closed, assigned to nobody

[2017-12-31 13:36] thealphadollar commented on #77
@Aniq55  This can be closed as the current puck and paddle fit the scene pretty well. Also, the background isn't required.
Implementing this will require scrapping off features like paddle color and theme.

[2017-12-31 13:55] #77 closed, assigned to nobody

[2017-12-31 13:55] #131 closed, assigned to nobody

[2017-12-31 15:52] #161 closed, assigned to nobody

[2017-12-31 16:13] nityanandagohain opened #183 "Both the name boxes become white if second is directly cliked after first one"

[2017-12-31 17:13] #183 closed, assigned to nobody

[2018-01-01 12:34] vineetjc opened #186 "If only one player changes name, changes not reflected for only that player"
If only one player changes name and if by chance the other player box is left out, the game begins with all names reset to the default 'Player x' form.

[2018-01-01 12:35] vineetjc opened #187 "Keyboard selection for Easy and Hard not working"
With new commits, the function was modified in startsScreen.py such that it unpacks more values than before. Error occurs on choosing mode using keyboard.

[2018-01-01 12:36] vineetjc opened #188 "Wrong selected color displayed for Player 2"
Right away on starting the game, there's an incorrect display as shown below:

![issue with selection screen](https://user-images.githubusercontent.com/29430221/34467680-4522825e-eead-11e7-8fa0-052441bea65a.png)

[2018-01-01 12:57] Aniq55 commented on #187
I just pulled the latest changes and checked the game. I didn't get any such error.

[2018-01-01 12:59] Aniq55 commented on #186
If I change name of player one to X and leave the other player blank, what I get on the screen is `X` vs `   `

[2018-01-01 13:01] vineetjc commented on #187
@Aniq55 Just to check again, I made a new local copy and tried it. It still shows me an error pressing 'e' or 'h'. I may be wrong. Why am I getting this?

[2018-01-01 13:06] vineetjc commented on #187
Apologies, I might have sounded vague

[2018-01-01 13:10] vineetjc commented on #186
If Player 2 changes name to X and the other is left blank, what I get on the screen is Player 1 vs Player 2.

Either way, I have made sure that be it X vs blank or the above, I've corrected it.

[2018-01-01 13:13] Aniq55 commented on #186
Alright. Merging in a while

[2018-01-01 13:14] #186 closed, assigned to nobody

[2018-01-01 13:14] #187 closed, assigned to nobody

[2018-01-01 13:14] #188 closed, assigned to nobody